megablocks @ git+https://github.com/stanford-futuredata/megablocks.git@main
torch
xformers>=0.0.22
tiktoken
wandb
webdataset
pandas
fsspec
tqdm
jsonlines
boto3==1.26.90
Pillow
zstandard
pysimdjson
cloudpathlib
datasets
multiprocess>=0.70.11
dill
huggingface_hub
pre-commit
ray[all]
loguru
jsonlines
transformers
s3fs
wikipedia
ipython
llm-foundry
