torch
xformers
tiktoken
wandb
webdataset
pandas
fsspec
tqdm
jsonlines
boto3==1.26.90
Pillow
zstandard
llm-foundry
pysimdjson
cloudpathlib
apache_beam
datasets
huggingface_hub
pre-commit
ray[all]
loguru
jsonlines
transformers
s3fs
