torch
tiktoken
wandb
webdataset
pandas
fsspec
tqdm
jsonlines
boto3
Pillow
zstandard
pysimdjson
cloudpathlib
datasets
multiprocess>=0.70.11
dill
huggingface_hub
pre-commit
ray[all]
loguru
jsonlines
transformers
s3fs
wikipedia
ipython
mosaicml
